DATABASE_URL=postgresql+psycopg://mvp:mvp@localhost:5435/mvp
TEST_DATABASE_URL=postgresql+psycopg://mvp:mvp@localhost:5435/mvp_test
JWT_SECRET=troque-este-segredo-por-um-valor-longo-e-aleatorio
JWT_EXPIRES_MINUTES=720
TZ_LOCAL=America/Sao_Paulo
NOMINATIM_URL=https://nominatim.openstreetmap.org/search
NOMINATIM_USER_AGENT=mvp-tempo-parado/0.1 (trabalho academico PUC Minas)
